body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    background-color: #e09dc0;
}

h1 {
    font-size: 10em;

}

.container {
    padding: 10px;
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-rows: repeat(5, 20em);
    grid-column-gap: 6%;
    grid-row-gap: 2%;
    border: 1px solid #336699;
    background-color: #422e3c;
}

.container h3 {
    color: #ffffff;
}

.container div {
    padding: 10px;
    border: 1px solid #CC2233;
    color: #ffffff;
}


